.footer{
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    height: 200px;
}

.groupFooter{
    display: flex;
    flex: 12;
}

.contactFooter{
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.contactItem{
    font-size: 16px;
    margin-left: 80px;
    margin-bottom: 10px;
    color: #212529;
    font-family: "Lora" ,serif;
    font-style: italic;
}

.linkFooter{
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.itemLink{
    font-size: 18px;
    color: #212529;
    margin-left: 80px;
    margin-bottom: 10px;
}

.socialFooter{
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footerIcon{
    font-size: 16px;
    color: #212529;
    margin-left: 80px;
    margin-bottom: 10px;
}

.copyrightFooter{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-family: "Lora",serif;
    font-style: italic;
    font-size: 14px;
}